<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Students</title>

</head>
<body>
<form method="post">
    <input type="text" name="firstName" placeholder="Your first name: ">
    <input type="text" name="lastName" placeholder="Your last name: ">
    <input type="text" name="age" placeholder="Your age: ">
    <input type="submit" value="Submit">
</form>

</body>
</html>