<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Students</title>

</head>
<body>
<form method="post">
    <input type="text" name="firstName" value="{{student.getFirstName()}}">
    <input type="text" name="lastName" value="{{student.getLastName()}}">
    <input type="text" name="age" value="{{student.getAge()}}">
    <input type="submit" value="Submit">
</form>

</body>
</html>